<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ulvijabbarli.imagetaker">

    <application>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

    </application>
</manifest>
